<?php $this->yellow->layout("header") ?>
<main id="content" class="content" role="main">

		<?php $this->yellow->layout("sidebar") ?>

		<?php $tabs = $this->yellow->page->getChildren() ?>
		<?php if (count($tabs) > 0): ?>
		<div class="tabs card">
			<input id="tab-1" name="tabs" class="tab-input" checked="checked" type="radio" />
			<label for="tab-1" class="tab" role="tab" aria-selected="false" aria-controls="tab-panel-1" aria-expanded="false" tabindex="0"><?= $this->yellow->page->getHtml("title") ?></label>
			<section class="tab-panel" id="tab-panel-1" role="tabpanel" aria-labelledby="specification" aria-hidden="true">
		<?php else: ?>
		<div class="card">
		<?php endif ?>

			<h3><?= $this->yellow->page->getHtml("titleContent") ?></h3>
			<?= $this->yellow->page->getContent() ?>

			<?php if (count($tabs) > 0): ?>
			</section>
			<?php endif ?>

			<?php
				$i = 1;
				foreach ($tabs as $tab):
				$i++; ?>
			<input id="tab-<?= $i ?>" name="tabs" class="tab-input" type="radio" />
			<label for="tab-<?= $i ?>" class="tab" role="tab" aria-selected="false" aria-controls="tab-panel-<?= $i ?>" aria-expanded="false" tabindex="0"><?= $tab->getHtml("title") ?></label>
			<section class="tab-panel" id="tab-panel-<?= $i ?>" role="tabpanel" aria-labelledby="specification" aria-hidden="true">

			<h3><?= $tab->getHtml("titleContent") ?></h3>
			<?= $tab->getContent() ?>

			</section>
			<?php endforeach ?>
		</div>
</main>
<!-- Form submit -->
<script type="text/javascript">
	'use strict';
	document.addEventListener('DOMContentLoaded', () => {
		let contact = document.querySelector('form');
		let status = document.querySelector('[type=submit]');

		if (contact) {
			contact.addEventListener('submit', (e) => {
				e.preventDefault();

				status.value = 'Envoi du message…';

				let form = e.target;

				var xhr = new XMLHttpRequest();
				xhr.open(form.method, form.action, true);
				xhr.send(new FormData(form));

				xhr.onloadend = (res) => {
					status.value = res.target.responseText;
					if (res.target.status === 0) {
						// Failed XmlHttpRequest should be considered an undefined error.
						status.value = 'Erreur inconnue';
						status.className += ' is-alert';
					} else if (res.target.status !== 200) {
						// Bad Request
						status.className += ' is-danger';
					} else if (res.target.status === 200) {
						// Success
						status.className += ' is-success';
					}
				};
			}, false);
		}
	}, false);
</script>

<!-- https://microformats.org/wiki/h-card -->
<div style="display:none" class="vcard h-card" hidden="true">
	<a class="url uid u-url u-uid fn nickname p-name p-nickname" href="<?= $this->yellow->page->scheme."://".$this->yellow->page->address."/" ?>"><?= $this->yellow->page->getHtml("author") ?></a>
	<img src="<?= $this->yellow->system->get("coreServerBase").$this->yellow->system->get("coreImageLocation") ?>avatar.png" class="u-photo photo">
	<?php if ($this->yellow->page->isExisting("h-card-rel")): ?>
	<?php 	foreach (preg_split("/\s*\|\s*/", $this->yellow->page->get("h-card-rel")) as $link):
					$link_parts = preg_split("/\s*->\s*/", $link);
		?>
	<a href="<?= $link_parts[1] ?>" rel="me" class="url u-url"><?= $link_parts[0] ?></a>
	<?php endforeach ?>
	<?php endif ?>
	<a class="u-impp" href="xmpp:yomli@chapril.org?omemo-sid-590033541=ec9b28ef742e43ebcfab0d3c538ac62966b940e935252cec3548230be97bb000" rel="me">yomli@chapril.org</a>
	<a class="u-impp" href="https://matrix.to/#/@yomli:tedomum.net" rel="me">@yomli:tedomum.net</a>
	<span class="given-name p-given-name">Guillaume</span>
	<span class="family-name p-family-name">Litaudon</span>
	<span class="bday dt-bday">--06-09</span>
	<span class="p-sex">M</span>
	<span class="tel p-tel">+33616554424</span>
	<a class="org p-org h-card" href="https://editions.yom.li/">Éditions Yomli</a>
	<span class="title p-job-title">Éditeur multimédia</span>
	<div class="adr">
		<span class="street-address p-street-address"></span>
		<span class="p-extended-address"></span>
		<span class="postal-code p-postal-code"></span>
		<span class="locality p-locality"></span>
		<span class="country-name p-country-name">France</span>
	</div>
	<a class="u-key" href="https://yom.li/.well-known/openpgpkey/hu/0xB483A55D3AF111C4.public.txt">0xB483A55D3AF111C4</a>
	<a class="u-key" href="OPENPGP4FPR:33102E995B302B94BE01391EB483A55D3AF111C4">0xB483A55D3AF111C4</a>
	<p class="p-note">Maître philosophe, modeste éditeur, geek à ses heures et parfois développeur web. Aime le thé noir et le riz cantonais.</p>
</div>
<?php $this->yellow->layout("footer") ?>
