<?php $this->yellow->layout("header") ?>
<main id="content" class="content" role="main">
		<article class="static">
			<header>
				<h2><?= $this->yellow->page->getHtml("titleContent") ?></h2>
			</header>
			<?= $this->yellow->page->getContentHtml() ?>
		</article>
</main>
<!-- Form submit -->
<script type="text/javascript">
	'use strict';
	document.addEventListener('DOMContentLoaded', () => {
		let contact = document.querySelector('form');
		let status = document.querySelector('[type=submit]');

		if (contact) {
			contact.addEventListener('submit', (e) => {
				e.preventDefault();
	
				status.value = 'Envoi du message…';

				let form = e.target;
				
				var xhr = new XMLHttpRequest();
				xhr.open(form.method, form.action, true);
				xhr.send(new FormData(form));

				xhr.onloadend = (res) => {
					status.value = res.target.responseText;
					if (res.target.status === 0) {
						// Failed XmlHttpRequest should be considered an undefined error.
						status.value = 'Erreur inconnue';
						status.className += ' is-alert';
					} else if (res.target.status !== 200) {
						// Bad Request
						status.className += ' is-danger';
					} else if (res.target.status === 200) {
						// Success
						status.className += ' is-success';
					}
				};
			}, false);
		}	
	}, false);
</script>
<?php $this->yellow->layout("footer") ?>
