<?php $pages = $this->yellow->content->top() ?>
<?php $this->yellow->page->setLastModified($pages->getModified()) ?>
			<menu class="list-unstyled navbar-menu" role="navigation">
				<?php foreach ($pages as $page): ?>
				<li<?= $page->isActive() ? " class=\"active\" aria-current=\"page\"" : "" ?>><a href="<?= $page->getLocation(true) ?>"><?= $page->getHtml("titleNavigation") ?></a></li>
				<?php endforeach ?>
				<li><button type="button" aria-hidden="true" class="color-scheme-toggle rounded-circle"></button></li>
			</menu>
