<?php $this->yellow->layout("header") ?>
<main id="content" class="content" role="main">
	<?php if (!empty($this->yellow->page->get("titleContent"))): ?>
	<h2 class="content-title"><?= $this->yellow->page->getHtml("titleContent") ?></h2>
	<?php elseif (!empty($this->yellow->page->get("title"))): ?>
	<h2 class="content-title"><?= $this->yellow->page->getHtml("title") ?></h2>
	<?php endif ?>

	<?php foreach ($this->yellow->page->getPages("blog") as $page): ?>
	<article class="catalog-book">
		<?php if (!empty($page->get("image"))): ?>
			<div class="book-cover">
				<img src="<?= $this->yellow->system->get("coreImageLocation").$page->get("image") ?>" class="fit" loading="lazy"/>
			</div>
		<?php endif ?>
			<h1 class="book-title"><a href="<?= $page->getLocation(true) ?>"><?= $page->getHtml("TitleContent") ?></a></h1>
			<p class="book-author">par <?php $authorCounter = 0; foreach (preg_split("/\s*,\s*/", $page->get("author")) as $author) { if (++$authorCounter>1) echo ", "; echo "<a href=\"".$this->yellow->page->getUrl().$this->yellow->lookup->normaliseArguments("author:$author")."\">".htmlspecialchars($author)."</a>"; } ?></p>
			<div class="book-description">
			<?php if (!empty($page->get("description"))): ?>
				<?= $page->get("description") ?>
			<?php else: ?>
				<?= $this->yellow->toolbox->createTextDescription($page->getContent(), 0, true, "<!--more-->", "") ?>
			<?php endif ?> <a href="<?= $page->getLocation(true) ?>" aria-label="Lire la suite">Lire la suite</a></div>
	</article>
	<?php endforeach ?>

	<?php $this->yellow->layout("pagination", $this->yellow->page->getPages("blog")) ?>

</main>
<?php $this->yellow->layout("footer") ?>
