/*	=============================================
		Yomli Style
	============================================*/
:root,
:root .color-scheme-dark,
:root .color-scheme-light {
	--primary-color: var(--green-color);
	--selection-color: rgba(73,146,89,.3);
}


.button {
	font-size: 110%;
	line-height: 2;
	font-variant: all-small-caps;
}

.tab {
	font-variant: small-caps; /* Old browsers */
	font-variant: all-small-caps;
	font-weight: 500;
}

/*	=============================================
		Global Layout
	============================================*/
.layout {
	display: grid;
	grid-template-rows: repeat(3, min-content);
	grid-template-columns: auto 100% auto;
}
.header {
	grid-row: 1;
	grid-column: 1 / span 3;
}
.content {
	grid-row: 2;
	grid-column: 2;
}
.footer {
	grid-row: 3;
	grid-column: 2;
}

/* Header */
.header {
	background: #121212 url("assets/img/banner-44.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	margin-bottom: 1rem;
	min-height: 8rem;
}

.navbar {
	background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,0));
}

@media all and (min-width: 44rem) {
	.header {
		min-height: 12rem;
		background-image: url("assets/img/banner-67.jpg");
	}

	/* Grayscale the background-image */
	/* But when we apply a filter on .header
	   the navbar menu loses its z-index,
	   so we don't do that on mobile. */
	.color-scheme-dark .header {
		filter: grayscale(25%);
	}
}

@media screen and (min-width: 67rem) {
	.header {
		min-height: 12rem;
		background-image: url("assets/img/banner-large.jpg");
	}
}

/* Footer */
.footer {
	padding: 1rem;
	text-align: center;
	margin-top: 2rem;
	/* Footer style */
	font-size: 87.5%;
	opacity: 0.8;
}
.footer > * {
	margin: 0;
}
/* Footer style */
.footer a {
	color: currentColor;
}
.footer-links *:not(:last-child)::after {
	content: "•";
	display: inline-block;
	margin-left: 0.5rem;
}

/* Content */
.content {
	display: grid;
	margin: 0 1rem;
}
/* Content style */
.content .sidebar {
	padding: 0 0.5rem;
	font-size: 87.5%;
	line-height: 1.28; /* 18px base */
	position: relative;
	top: -6rem;
	margin-bottom: -6rem;
}

/*	=============================================
		Templates
	============================================*/

/* 	~~~~~~~~~~~~~~~~~~~~~~
	Template Profile page
	~~~~~~~~~~~~~~~~~~~~*/
.template-profile .content {
	grid-template-columns: auto;
}
.tab-panel {
	padding: 0;
}

@media all and (min-width: 44rem) {
	.template-profile .content {
		grid-template-columns: 30% 70%;
		gap: 1rem;
		margin: 0 2rem 0 1rem; /* 2rem because of the gap */
	}
	.tab-panel {
		padding: 0.5rem;
	}
}
@media all and (min-width: 70rem) {
	.template-profile .content {
		grid-template-columns: 20rem 45rem;
		gap: 1rem;
		margin: 0 auto;
	}
}

.template-profile .content > .card {
	background: var(--background-color-close, #fff);
	position: relative;
	top: -4rem;
	margin-bottom: -4rem;
	padding-top: 0.5rem;
}


/* 	~~~~~~~~~~~~~~~~~~~~~~
	Template Blog page
	~~~~~~~~~~~~~~~~~~~~*/
.template-blog-start .content {
	margin: 0 1rem 1rem 1rem;
	gap: 1rem;
}
.template-blog-start .content {
	grid-template-columns: auto;
}
.template-blog-start .content .sidebar {
	grid-row: 1;
}
.template-blog-start .content-title {
	grid-row: 2;
	align-self: start;
}

@media all and (min-width: 44rem) {
	.template-blog-start .content {
		grid-template-columns: 1fr 1fr;
		gap: 1.5rem;
	}
	.template-blog-start .content-title {
		grid-column: 2;
		grid-row: 1;
	}
	.template-blog-start .content .sidebar {
		grid-column: 1;
		grid-row: 1 / span 2;
	}
	.template-blog-start .pagination {
		grid-column: 1 / span 2;
	}
}
@media all and (min-width: 70rem) {
	.template-blog-start .content {
		grid-template-columns: 20rem 1fr 1fr;
	}
	.template-blog-start .content-title {
		grid-column: 2 / span 2;
	}
	.template-blog-start .content .sidebar {
		grid-column: 1;
		grid-row: 1 / span 4;
	}
	.template-blog-start .pagination {
		grid-column: 2 / span 3; /* span 3 to account for next layout */
	}
	/* Layout
	   "2 2"
	   "3 4"
	   "5 5"
	   "6 7" */
	.blog-post:nth-child(3n-1) {
		grid-column: 2 / span 2;
	   	margin: 2.5rem;
	}
	.blog-post:nth-child(2) {
		margin-top: 0;
	}
	.blog-post:nth-child(3n) {
		grid-column: 2;
	}
}
@media all and (min-width: 96rem) {
	.template-blog-start .content {
		grid-template-columns: 20rem repeat(3, 1fr);
	}
	/* Remove old layout */
	.blog-post:nth-child(3n-1),
	.blog-post:nth-child(3n) {
		grid-column: auto;
		margin: 0;
	}
	/* Layout
	   "2 2 3"
	   "4 5 5"
	   "6 6 7"
	   "8 9 9" */
	.blog-post:nth-child(4n-2) {
		grid-column: 2 / span 2;
	}
	   .blog-post:nth-child(4n+1) {
		grid-column: 3 / span 2;
	}
	   .blog-post:nth-child(4n) {
		grid-column: 2;
	}
}

/* Blog style */
.content-title {
	margin: 0;
}
.blog-post {
	position: relative; /* Mandatory for stretched link */
}
.post-cover {
	width: 100%;
	max-height: 12rem;
	overflow: hidden;
	margin-bottom: 0.75rem;
}
.post-cover * {
	max-height: initial;
	width: 100%;
	object-fit: cover;
	transition: all 0.6s;
}
.post-title {
	font-size: 1.75rem;
	margin: 0;
}
.post-subtitle {
	font-size: 1.25rem;
	margin: 0;
}
.post-meta {
	opacity: 0.6;
	margin: 0;
	margin-bottom: 0.5rem;
	font-variant: all-small-caps;
}
.post-description {
	margin: 0;
	display: inline;
}
.post-link {
	color: currentColor;
}
.post-description ~ .post-link {
	color: var(--primary-color);
	font-variant: all-small-caps;
}
.blog-post:hover .post-cover {
	background: var(--primary-color);
}
.blog-post:hover .post-cover > * {
	mix-blend-mode: luminosity;
	transform: scale(1.03);
}
.blog-post:hover .post-link {
	color: var(--primary-color);
}
.blog-tags > * {
	font-size: initial;
	padding-bottom: 0.5em;
	font-variant: all-small-caps;
}
.pagination {
	display: flex;
	justify-content: space-evenly;
}

/* 	~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Template Static & Post page
	~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.static,
.post {
	width: 100%;
}

@media all and (min-width: 44rem) {
	.static {
		width: 42rem;
		margin: 0 auto;
	}
	.post {
		max-width: 60ch;
		font-size: 1.25rem;
	}
}

/* 	~~~~~~~~~~~~~~~~~~~
	Template Static
	~~~~~~~~~~~~~~~~~~*/
.static img,
.blog-post img {
	max-width: 100%;
	height: auto;
}

/* 	~~~~~~~~~~~~~~~~~~~
	Template Post page
	~~~~~~~~~~~~~~~~~~*/
.post {
	margin: 0 auto;
	font-weight: 300;
	font-family: Georgia, Times, "Times New Roman", serif;
	line-height: 1.414;
	text-rendering: optimizeLegibility;
	font-variant-ligatures: normal;
	-webkit-font-kerning: auto;
	font-kerning: none;
}

/* Post header */
.post .post-header {
	margin-bottom: 10rem;
	margin-top: 5rem;
	text-align: right;
	margin-left: 15%;
}

.post-header .post-title {
	font-size: 3em;
	line-height: 1.1;
	letter-spacing: -0.01em;
}
.post-header .post-subtitle {
	font-size: 1.25em;
	margin-bottom: 1rem;
}
.post-header .author {
	font-variant: small-caps;
	font-variant: all-small-caps;
	text-align: right;
	margin-left: 15%;
}

/* Post cover */
.template-blog .header {
	background: transparent;
}
.post-header .post-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-height: 8rem; /* Same as site header */
	object-fit: cover;
	z-index: -100;
}
@media all and (min-width: 44rem) {
	.post-header .post-cover {
		max-height: 12rem; /* Same as site header */
	}
}


/* Paragraph counter */
.post {
	counter-reset: pcounter;
}
.post > p {
	counter-increment: pcounter;
	position: relative;
}
.post > p::before {
	content: counter(pcounter);
	font-size: 0.8rem;
	line-height: 1.3rem;
	position: absolute;
	left: -2rem;
	top: 0;
	opacity: 0.5;
}

/* Drop Caps */
.post > p:first-of-type::first-letter {
	float: left;
	font-size: 2.9em;
	line-height: 0.7em; /* Mandatory for Webkit, ignored by Firefox */
	padding-right: 0.5rem;
	margin-top: 0.5rem;
}

/* Post elements */
.post blockquote {
	font-size: 87.5%;
	padding: 0 2rem;
}
.post ul:not(.post-biblio + ul) {
	list-style: '—\a0';
	padding-left: 1em;
}
.post ul ul {
	list-style: inherit;
}
.post > h2,
.post > h5 {
	font-variant: small-caps;
	font-variant: all-small-caps;
}
.post > h2 {
	text-align: center;
}
.post > h4 {
	font-style: italic;
}
.post > h6 {
	font-weight: bold;
}
.post img:not([class]) {
	display: block;
	margin: 1rem auto;
}
.post figure {
	display:flex;
	justify-content: space-evenly safe;
	flex-wrap: wrap;
	align-items: center;
}
.post .full-bleed {
	margin-top: 1rem;
	padding: 0 2rem;
}
.template-blog .content {
	display: block; /* display: grid breaks with full-bleed img on Firefox */
}

/* Footnotes & Biblio */
.footnotes,
.post-biblio + ul {
	font-size: 87.5%;
}
.post-biblio + ul {
	list-style-type: none;
	padding-left: 0;
}
/*Footnotes : Highlight */
.footnotes :target {
	background: rgba(125,125,125,0.2);
	transition: background 2s;
	border-radius: 3px;
	padding: 0.1em 0.25em;
}

/* Notice */
.notice1 p {
	font-size: 87%;
	width: 87%;
	margin: 0 auto;
	margin-bottom: 5rem;
	padding: 0.5em;
	position: relative;
	padding-left: 1.5em;
	background: var(--background-color-close);
	border-radius: 3px;
	box-shadow: 0 0 2px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.2);
}

.notice1 p::before {
	content: "*";
	display: inline-block;
	position: absolute;
	top: 0em;
	left: 0.1em;
	font-weight: bold;
	font-size: 2em;
	opacity: 0.7;
}

/*	=============================================
		Print styles
	============================================*/
@media print {
	body {
		background: white;
		color: black;
	}
	a {
		color: black;
	}
	.layout,
	.content {
		display: block;
	}
	.header,
	.footer,
	aside,
	.post-header .post-cover,
	.footnote-backref {
		display: none;
	}
	.post {
		-webkit-hyphens: auto;
 		-ms-hyphens: auto;
 		hyphens: auto;
 		text-align: justify;
 		font-size: 12pt;
	}
	.post-header {
		-webkit-hyphens: initial;
 		-ms-hyphens: initial;
 		hyphens: initial;
		text-align: initial;
	}
	.post > * {
		widows: 2;
	}
	h1, h2, h3, h4, h5, h6 {
		page-break-after: avoid;
	}

}

@page {
	padding: 0;
	margin: 2.5cm 3cm 3cm 2.5cm;
	size: A4 portrait;
}


/*	=============================================
		Yellow Edit
	============================================*/
.yellow-bar {
	position: absolute !important;
	top: 3rem;
	width: 100%;
	z-index: 999;
}

.yellow-bar-content {
	display: flex;
}

.yellow-bar-left,
.yellow-bar-right {
	background-color: #fff;
	padding: 0.5rem 1rem;
	border-radius: 3px;
}

.yellow-bar-left {
	align-self: flex-start;
}

.yellow-bar-right {
	align-self: flex-end;
}

.yellow-edit-text {
	background-color: initial;
}
