<?php $this->yellow->layout("header") ?>
	<main id="content" class="content h-entry">
		<article class="post e-content">
			<header>
				<h1 class="post-title p-name"><a href="<?= $this->yellow->page->getUrl() ?>" class="u-url"><?= $this->yellow->page->getHtml("TitleContent") ?></a></h1>
				<p class="post-meta">
					<?php $authorCounter = 0; foreach (preg_split("/\s*,\s*/", $this->yellow->page->get("author")) as $author) { if (++$authorCounter>1) echo ", "; echo "<a href=\"".$this->yellow->page->getPage("blog")->getLocation(true).$this->yellow->toolbox->normaliseArguments("author:$author")."\" class=\"author p-author\" rel=\"author\">".htmlspecialchars($author)."</a>"; } ?>
					<time datetime="<?= $this->yellow->page->getDateFormattedHtml("published", "c") ?>" class="dt-published">
					<?= $this->yellow->page->getDateFormattedHtml("published", "j F Y") ?>
					</time>
				</p>
			</header>

			<?= $this->yellow->page->getContent() ?>

		</article>
	</main>

	<script type="text/javascript">
		const hightlight=a=>a.replaceAll(/(<)/g,'<span>$1</span>').replaceAll(/(?:<span><<\/span>)([\w\/!:]+[^\s\n>]?)(>|\s)/g,'<<span class="c-markup">$1</span>$2').replaceAll(/('.*?'|"(?!c\-markup|>).*?")/g,'<span class="c-string">$1</span>').replaceAll(/\b(a(?:bstract|lias|rray|s|ssert)|b(?:egin|reak)|de(?:bugger|clare|f|fault|fer|l|legate|lete)|do|e(?:cho|l(?:se|seif|if)?|nd(?:if)?|nsure|num|vent|x(?:cept|ec|it|p(?:licit|ort)?|te(?:nds|rn)?)?)|f(?:inal|inally|or|oreach|rom|un(?:c|ction)?)|c(?:ase|atch|har|lass |lone|onst|ontinue)|g(?:oto|lobal)|i(?:f|mp(?:lements|licit|ort)?|n(?:it|clude(?:_once)?|stanceof|t(?:erface|ernal)?)?)|l(?:et|ock)|n(?:amespace|ative|ext|ew |ot)|o(?:perator|r|ut|verride)|p(?:ackage|rivate|rot(?:ected|ocol)?|ublic)|r(?:aise|e(?:adonly|do|f|gister|peat|quire|quire_once|scue|strict|try|turn)?)|s(?:ealed|elf|hort|igned|izeof|tatic|truct|ubscript|uper|ynchronized|witch)|t(?:hen|his|hrows |ry|ypeof)|u(?:n(?:def|defined|ion|less|signed|til)?|se|sing)|v(?:ar|irtual|olatile)|w(?:h(en|ere|ile)|ith)|xor|yield)([^a-z0-9\$_])/g,'<span class="c-operator">$1</span>$3').replaceAll(/\b(Array|BigInt|Boolean|Function|Infinity|Math|NaN|Number|Object|RegExp|String|Symbol|false|float|int|module|null|this|true|undefined)([^a-z0-9\$_])/g,'<span class="c-type">$1</span>$2').replaceAll(/(\/\*[^]*?\*\/|<span><<\/span>\!\-\-[^]*?\-\->|(?<!\:)(\/\/)[^\n\r]+|#[#\s]+[^\n\r\?]+)/gim,'<span class="c-comment">$1</span>').replaceAll(/([a-z\_\$][a-z0-9_]*)(\s?([\(\)\[\];]|[=+\-\*,<]\s)|\s>)/gi,'<span class="c-variable">$1</span>$2').replaceAll(/(\{|\}|\]|\[|\|)/gi,'<span class="c-punctuation">$1</span>').replaceAll(/(0x[0-9a-f]*|\b(\d*\.)?([\d]+(e-?[0-9]*)?)\b)/gi,'<span class="c-atom">$1</span>');document.querySelectorAll('code[class*="language-"], [class*="language-"] code, code[class*="lang-"], [class*="lang-"] code').forEach(a=>{a.innerHTML=hightlight(a.textContent)})
	</script>
	<style>
		pre{background-color:#2D2D2D;color:#C8C8C8;border-radius:3px;font-size:1rem}code .c-markup{color:#c96754;font-weight:initial}code .c-string{color:#d7c467}code .c-type{color:#db9455}code .c-operator{color:#b194b4}code .c-variable{color:#83a1c1}code .c-atom{color:#b1be59}code .c-punctuation{color:inherit}code .c-comment,.c-comment *{color:#999!important;opacity:.5}
	</style>
<?php $this->yellow->layout("footer") ?>
