<?php $pages = $this->yellow->content->top() ?>
<?php $this->yellow->page->setLastModified($pages->getModified()) ?>
			<ul class="list-unstyled navbar-menu" role="navigation">
				<?php foreach ($pages as $page): ?>
				<li<?= $page->isActive() ? " class=\"active\" aria-current=\"page\"" : "" ?>><a href="<?= $page->getLocation(true) ?>"><?= $page->getHtml("titleNavigation") ?></a></li>
				<?php endforeach ?>
				<li><a href="https://apps.yom.li/">Outils</a></li>
				<li><a href="/snippets/">Snippets</a></li>
				<li><button type="button" aria-hidden="true" class="color-scheme-toggle rounded-circle"></button></li>
			</ul>
			<ul class="list-inline navbar-social">
				<li><a href="https://codeberg.org/yomli/" title="Codeberg" rel="me" class="u-url">
					<svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor"><path d="M11.955.49C5.345.515 0 5.88 0 12.49a12 12 0 001.832 6.373L11.838 5.928c.072-.093.252-.093.324 0l10.006 12.935A12 12 0 0024 12.49c0-6.627-5.373-12-12-12h-.045zm.603 7.874l4.188 15.146c2.075-.893 3.376-1.905 4.394-3.292z"/></svg>
				</a></li>
				<li><a href="https://github.com/yomli/" title="GitHub" rel="me" class="u-url">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
				</a></li>
				<li><a href="https://mastodon.xyz/@yomli" title="Mastodon" rel="me" class="u-url">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0" stroke-linecap="round" stroke-linejoin="round"><path  d="m12.018 0.045592c-3.0503 0.024907-5.9845 0.35525-7.6944 1.1405 0 0-3.3913 1.517-3.3913 6.6929 0 1.1852-0.022867 2.6023 0.014542 4.1052 0.12315 5.0617 0.92792 10.05 5.6079 11.289 2.1578 0.57115 4.0105 0.6908 5.5026 0.60878 2.7058-0.15001 4.2248-0.96561 4.2248-0.96561l-0.08922-1.9632s-1.9336 0.60964-4.1052 0.53535c-2.1515-0.07381-4.4229-0.23198-4.7708-2.8735-0.032307-0.23203-0.048139-0.48021-0.048139-0.74078 0 0 2.1121 0.51628 4.7887 0.63892 1.6367 0.07507 3.1715-0.09587 4.7304-0.28189 2.9894-0.357 5.5925-2.199 5.9196-3.8821 0.51548-2.6513 0.47302-6.4701 0.47302-6.4701 0-5.1759-3.3912-6.6929-3.3912-6.6929-1.7099-0.7853-4.6459-1.1156-7.6962-1.1406zm-3.4522 4.0442c1.2706 0 2.2326 0.48835 2.8688 1.4652l0.61858 1.0368 0.61858-1.0368c0.63605-0.97683 1.5981-1.4652 2.8688-1.4652 1.0981 0 1.9828 0.386 2.6585 1.139 0.65495 0.75304 0.98106 1.771 0.98106 3.0518v6.2671h-2.483v-6.0829c0-1.2823-0.53949-1.9331-1.6187-1.9331-1.1932 0-1.7911 0.77197-1.7911 2.2986v3.3296h-2.4683v-3.3296c0-1.5266-0.59815-2.2986-1.7913-2.2986-1.0792 0-1.6187 0.65084-1.6187 1.9331v6.0829h-2.483v-6.2671c0-1.2808 0.32618-2.2988 0.98125-3.0518 0.67552-0.75304 1.5603-1.139 2.6585-1.139z"></path></svg>
				</a></li>
				<li><a href="gemini://unbon.cafe/yomli/dev/" title="Gemini" rel="me" class="u-url">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0" stroke-linecap="round" stroke-linejoin="round"><path d="M11.997 0A11.997 11.996 0 000 11.996a11.997 11.996 0 0011.997 11.996 11.997 11.996 0 0011.998-11.996A11.997 11.996 0 0011.997 0zM5.875 5.012c1.799.257 3.84.386 6.122.386 2.276 0 4.318-.13 6.123-.386a.473.473 0 01.54.467v1.065a.473.473 0 01-.388.466c-.373.067-1.191.143-2.134.224v9.547c.871.062 1.66.126 2.124.2a.473.473 0 01.398.467v1.065a.473.473 0 01-.54.468c-1.805-.257-3.847-.387-6.123-.387-2.282 0-4.323.13-6.122.387a.473.473 0 01-.54-.468v-1.065a.473.473 0 01.398-.467c.435-.07 1.229-.134 2.114-.2V7.234c-.92-.082-1.73-.158-2.118-.223a.473.473 0 01-.394-.467V5.48a.473.473 0 01.54-.467zm4.037 2.337v9.294c.644-.032 1.307-.06 2.085-.06.5 0 1.266.028 2.076.06V7.349c-.642.032-1.302.06-2.076.06-.505 0-1.272-.028-2.085-.06z" paint-order="stroke fill markers"/></svg>
				</a></li>
			</ul>
